{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">

   </head>

 <body>

        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

  <!-- upper section -->
  <div class="row">
  <div class="col-sm-2">
      <!-- left -->
                <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
      <hr>

         <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>

          <br>
          {% if estacionamiento.nroPuesto %}
            <ul class="nav nav-stacked">
              <li>
                <a href="./reserva">
                  <i class="fa fa-pencil-square-o"></i>
                  Reservar
                </a>
              </li>
            </ul>
          {% endif %}
      <hr>

    </div><!-- /span-3 -->
    <div class="col-sm-9">

      <!-- column 2 -->
       <h3><i class="fa fa-bus"></i> Estacionamiento {{estacionamiento.nombre}}</h3>

       <hr>

     <!--/row-->
    <div class="col-md-4">

      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
			<tr><td><b><i class="fa fa-car"></i> Nombre del estacionamiento:</b></td></tr>
			<tr><td>{{estacionamiento.nombre}}</td></tr>

			<tr><td><b><i class="fa fa-user"></i> Nombre del propietario:</b></td></tr>
			<tr><td>{{estacionamiento.propietario}}</td></tr>

			<tr><td><b><i class="fa fa-home"></i> Dirección:</b></td></tr>
			<tr><td>{{estacionamiento.direccion}}</td></tr>

			{% if estacionamiento.telefono1 %}
				<tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
				<tr><td>{{estacionamiento.telefono_1}}</td></tr>
			{% endif %}

			{% if estacionamiento.telefono2 %}
				<tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
				<tr><td>{{estacionamiento.telefono2}}</td></tr>
			{% endif %}

			 {% if estacionamiento.telefono3 %}
				<tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
				<tr><td>{{estacionamiento.telefono3}}</td></tr>
			{% endif %}

			{% if estacionamiento.email1 %}
				<tr><td><b><i class="fa fa-at"></i> Correo Electrónico:</b></td></tr>
				<tr><td>{{estacionamiento.email1}}</td></tr>
			{% endif %}

			{% if estacionamiento.email2 %}
			<tr><td><b><i class="fa fa-at"></i> Correo Electrónico:</b></td></tr>
			<tr><td>{{estacionamiento.email2}}</td></tr>
			{% endif %}


			<tr><td><b><i class="fa fa-circle"></i> RIF:</b></td></tr>
			<tr><td>{{estacionamiento.rif}}</td></tr>

        </tbody>
      </table>




    </div>
    <div class="col-md-4">

       <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
      {% if estacionamiento.nroPuesto %}
        <tr><td><b><i class="fa fa-car"></i> Puestos:</b></td></tr>
        <tr><td>{{estacionamiento.nroPuesto}}</td></tr>
      {% endif %}
      {% if estacionamiento.reservasInicio %}
        <tr><td><b><i class="fa fa-clock-o"></i> Horario inicio de reserva:</b></td></tr>
        <tr><td>{{estacionamiento.reservasInicio}}</td></tr>
      {% endif %}
      {% if estacionamiento.reservasCierre %}
        <tr><td><b><i class="fa fa-clock-o"></i> Horario fin de reserva:</b></td></tr>
        <tr><td>{{estacionamiento.reservasCierre}}</td></tr>
      {% endif %}
      {% if estacionamiento.apertura %}
        <tr><td><b><i class="fa fa-clock-o"></i> Horario apertura:</b></td></tr>
        <tr><td>{{estacionamiento.apertura}}</td></tr>
      {% endif %}
      {% if estacionamiento.cierre %}
        <tr><td><b><i class="fa fa-clock-o"></i> Horario cierre:</b></td></tr>
        <tr><td>{{estacionamiento.cierre}}</td></tr>
      {% endif %}
 	  {% if estacionamiento.tarifa %}
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa:</b></td></tr>
        <tr><td>{{estacionamiento.tarifa}} Bsf.</td></tr>
      {% endif %}
   	  {% if estacionamiento.esquemaTarifa %}
        <tr><td><b><i class="fa fa-circle"></i></i> Esquema:</b></td></tr>
        <tr><td>{{estacionamiento.esquemaTarifa.tipo}} </td></tr>
      {% endif %}


        </tbody>
      </table>
    </div><div class="col-md-4">


          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="glyphicon glyphicon-wrench pull-right">
                </i>
                <h4>
                  Parametrizar
                </h4>
              </div>
            </div>
            <div class="panel-body">


              <form action="." method="post" class="form form-vertical">
              	  {% csrf_token %}
                  {% for field in form %}
                    <div class="control-group" style='margin: 0 5px;'>
                       <div class="controls">
                        {% if not field.value or field.errors %}
                             {{ field }}
                        {% else %}
                             {{ field }}
                        {% endif %}
                             {{ field.errors }}
                        </div>
                    </div>
                    <p>
                 {% endfor %}
                
              <form action="." method="post" class="form form-vertical">
                <div class="control-group">
                  <label>
                  </label>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">
                      Parametrizar Estacionamiento
                    </button>
                  </div>
                </div>


              </form>


            </div>

            <!--/panel content-->
          </div>
          <!--/panel-->

          <!--/panel-->

        </div><!--/col-span-9-->

  </div><!--/row-->
  <!-- /upper section -->

  <!-- lower section -->
  <!--/row-->

</div><!--/container-->


    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>

</body>

</html>
