{% extends "base.html" %}
{% block title %}
  SAGE - Recargar Billetera
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
     Billetera
    </h3>
    <hr>
    <div class="col-md-4"> 
	   <table>
	      <tr><td>
            Su saldo es: {{billetera.saldo}}
          </tr></td>
          <tr><td>
            &nbsp;
          </tr></td>
          <tr><td>
            
          </tr></td>
       </table>
    </div>
    
  </div>
{% endblock %}

