{% extends "base.html" %}
{% block title %}
  SAGE - Recargar Billetera
{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
     Billetera
    </h3>
    <hr>
    <div class="col-md-4"> 
	   <table>
	      <tr><td>
            <a href="/estacionamientos/billetera_electronica_saldo">
              <button class="btn btn-primary">
                Consultar Saldo
              </button>
            </a>
          </tr></td>
          <tr><td>
            &nbsp;
          </tr></td>
          <tr><td>
            <a href="/estacionamientos/billetera_electronica_recarga">
              <button class="btn btn-primary">
                Recargar Saldo
              </button>
            </a>
          </tr></td>
       </table>
    </div>
    <div class="col-md-4">
      {% include "consultar_saldo_form.html" %}
    </div>
  </div>
{% endblock %}

