{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">

   </head>

 <body>

        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <h3>
        <i class="glyphicon glyphicon-briefcase"></i>
        Menú
      </h3>
      <hr>
        <ul class="nav nav-stacked">
          <li><a href="..">
            <i class="fa fa-bus"></i>
            Estacionamientos
          </a></li>
          <li><a href="./">
            <i class="fa fa-wrench"></i>
            Parametrizar
          </a></li>
          <li><a href="./reserva">
            <i class="fa fa-pencil-square-o"></i>
            Reservar
          </a></li>
        </ul>
      <hr>
    </div>

    <div class="col-sm-9">

      <!-- column 2 -->
       <h3><i class="fa fa-bus"></i> Estacionamiento {{estacionamiento.nombre}}</h3>

       <hr>

     <!--/row-->
    <div class="col-md-4">

      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
			<tr><td><b><i class="fa fa-car"></i> Nombre del estacionamiento:</b></td></tr>
      <tr><td>{{estacionamiento.nombre}}</td></tr>

      <tr><td><b><i class="fa fa-user"></i> Nombre del propietario:</b></td></tr>
      <tr><td>{{estacionamiento.propietario}}</td></tr>

      <tr><td><b><i class="fa fa-home"></i> Dirección:</b></td></tr>
      <tr><td>{{estacionamiento.direccion}}</td></tr>

      {% if estacionamiento.telefono1 %}
        <tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
        <tr><td>{{estacionamiento.telefono1}}</td></tr>
      {% endif %}

      {% if estacionamiento.telefono2 %}
        <tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
        <tr><td>{{estacionamiento.telefono2}}</td></tr>
      {% endif %}

       {% if estacionamiento.telefono3 %}
        <tr><td><b><i class="fa fa-phone"></i> Teléfono:</b></td></tr>
        <tr><td>{{estacionamiento.telefono3}}</td></tr>
      {% endif %}

      {% if estacionamiento.email1 %}
        <tr><td><b><i class="fa fa-at"></i> Correo Electrónico:</b></td></tr>
        <tr><td>{{estacionamiento.email1}}</td></tr>
      {% endif %}

      {% if estacionamiento.email2 %}
      <tr><td><b><i class="fa fa-at"></i> Correo Electrónico:</b></td></tr>
      <tr><td>{{estacionamiento.email2}}</td></tr>
      {% endif %}


      <tr><td><b><i class="fa fa-circle"></i> RIF:</b></td></tr>
      <tr><td>{{estacionamiento.rif}}</td></tr>

        </tbody>
      </table>




    </div>
    <div class="col-md-4">

       <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
      {% if estacionamiento.nroPuesto %}
        <tr><td><b><i class="fa fa-car"></i> Puestos:</b></td></tr>
        <tr><td>{{estacionamiento.nroPuesto}}</td></tr>
        <tr><td><b><i class="fa fa-clock-o"></i> Horario apertura:</b></td></tr>
        <tr><td>{{estacionamiento.apertura}}</td></tr>
        <tr><td><b><i class="fa fa-clock-o"></i> Horario cierre:</b></td></tr>
        <tr><td>{{estacionamiento.cierre}}</td></tr>
      {% endif %}
      {% if estacionamiento.esquemaTarifa %}
        <tr><td><b><i class="fa fa-circle"></i></i> Esquema:</b></td></tr>
        <tr><td>{{estacionamiento.esquemaTarifa.tipo}} </td></tr>
      {% endif %}
      {% if estacionamiento.esquemaTarifa.tipo == "Tarifa diferenciada para fines de semana" %}
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular:</b></td></tr>
        <tr><td>BsF. {{estacionamiento.tarifa}}</td></tr>
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa fin de semana:</b></td></tr>
        <tr><td>BsF. {{estacionamiento.esquemaTarifa.tarifa2}}</td></tr>
      {% elif estacionamiento.esquemaTarifa.tipo == "Tarifa diferenciada por hora pico" %}
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa regular:</b></td></tr>
        <tr><td>BsF. {{estacionamiento.tarifa}}</td></tr>
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa especial:</b></td></tr>
        <tr><td>BsF. {{estacionamiento.esquemaTarifa.tarifa2}}</td></tr>
        <tr><td><b><i class="fa fa-clock-o"></i> Inicio tarifa especial:</b></td></tr>
        <tr><td>{{estacionamiento.esquemaTarifa.inicioEspecial}}</td></tr>
        <tr><td><b><i class="fa fa-clock-o"></i> Fin tarifa especial:</b></td></tr>
        <tr><td>{{estacionamiento.esquemaTarifa.finEspecial}}</td></tr>
      {% elif estacionamiento.nroPuesto %}
        <tr><td><b><i class="fa fa-money"></i></i> Tarifa:</b></td></tr>
        <tr><td>BsF. {{estacionamiento.tarifa}}</td></tr>
      {% endif %}


        </tbody>
      </table>
    </div><div class="col-md-4">


          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="glyphicon glyphicon-wrench pull-right">
                </i>
                <h4>
                  Reservar
                </h4>
              </div>
            </div>
            <div class="panel-body">



              <form action="./reserva" method="post" class="form form-vertical">
              {% csrf_token %}
              {% for field in form %}
                <div class="control-group">
                  <div class="controls">
                    {% if not field.value or field.errors %}
                	 	{{ field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {{ field.errors }}
                  </div>
                </div>
                <br />
              {% endfor %}

                <div class="control-group">
                  <label>
                  </label>
                  <div class="controls">
                    <button type="submit" class="btn btn-primary">
                      Chequear Disponibilidad
                    </button>
                  </div>
                </div>


              </form>

            <script>

			   	var inputs = document.getElementsByTagName("input");
			    var inputs_len = inputs.length;
			    var addDirtyClass = function(evt) {
				  evt.srcElement.classList.toggle("dirty", true);
			    };
			    for (var i = 0; i < inputs_len; i++) {
			      var input = inputs[i];
			      input.addEventListener("focus", addDirtyClass);
			      input.addEventListener("invalid", addDirtyClass);
			      input.addEventListener("valid", addDirtyClass);
			    }

				function verifyPattern(input, error, error_message) {
					if (input.validity.valid) {
						error.innerHTML = ""; // Reset the content of the message
						error.className = "error"; // Reset the visual state of the message
					}
					else {
						if (input.validity.rangeUnderflow) {
							error.innerHTML = "El minimo valor de este campo debe ser " + input.getAttribute('min');
						}
						else if (input.validity.rangeOverflow) {
							error.innerHTML = "El maximo valor de este campo debe ser " + input.getAttribute('min');
						}
						else if (input.validity.tooLong) {
							error.innerHTML = "Este campo debe tener un maximo de " + input.getAttribute('maxlength') + "caracteres";
						}
						else {
							error.innerHTML = error_message;
						}
						error.className = "error active";
					}
				};


				{% for field in form %}
					var error_{{ field.name }} = document.getElementById('{{ field.name }}_error')
					var {{ field.name }} = document.getElementById('id_{{ field.name }}');
					{{ field.name }}.addEventListener('blur', function (event) {
						verifyPattern({{ field.name }}, error_{{ field.name }}, {{ field.name }}.getAttribute('message'));
					}, false);

					{{ field.name }}.addEventListener('focus', function (event) {
						error_{{ field.name}}.innerHTML = ""; // Reset the content of the message
						error_{{ field.name}}.className = "error"; // Reset the visual state of the message
					}, false);

				{% endfor %}

			</script>


            </div>

            <!--/panel content-->
          </div>
          <!--/panel-->

          <!--/panel-->

        </div><!--/col-span-9-->

  </div><!--/row-->
  <!-- /upper section -->

  <!-- lower section -->
  <!--/row-->

</div><!--/container-->
<!-- /Main -->
<br><br><br><br>



  <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>

  <script type="text/javascript">
    inicioDate = document.getElementById('id_inicio_0');
    inicioTime = document.getElementById('id_inicio_1');
    finDate = document.getElementById('id_final_0');
    finTime = document.getElementById('id_final_1');
    inicioDate.placeholder="Fecha Inicio Reserva"
    inicioTime.placeholder="Hora Inicio Reserva"
    finDate.placeholder="Fecha Fin Reserva"
    finTime.placeholder="Hora Fin Reserva"
  </script>

</body>

</html>
