<div class="col-sm-2">
  <h3><i class="glyphicon glyphicon-briefcase"></i>
      Menú
  </h3>
  <hr>
  <ul class="nav nav-stacked">
    <li><a href="/estacionamientos/"><i class="fa fa-bus"></i>
      Estacionamientos
    </a></li>
    <li><a href="/estacionamientos/ingreso"><i class="fa fa-money"></i>
      Consultar Ingreso
    </a></li>
    <li><a href="/estacionamientos/consulta_reserva"><i class="fa fa-clock-o"></i>
      Consultar Reservas
    </a></li>
    <li><a href="/estacionamientos/billetera_electronica"><i class="fa fa-money"></i>
      Billetera Electronica
    <li><a href="/estacionamientos/propietarios"><i class="fa fa-users"></i>
      Propietarios
    </a></li>
    {% if estacionamiento.capacidad %}
      <li><a href="./cambiar_propietario"><i class="fa fa-exchange"></i>
        Cambiar Propietario
      </a></li>
      <li><a href="./"><i class="fa fa-wrench"></i>
        Parametrizar
      </a></li>
      <li><a href="./reserva"><i class="fa fa-pencil-square-o"></i>
        Reservar
      </a></li>
      <li><a href="./moverReserva"><i class="fa fa-exchange"></i>
        Mover reserva
      </a></li>
    {% endif %}
  </ul>
  <hr>
</div>
