<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">


    <script type="text/javascript">
        function popuponclick()
        {
          my_window = window.open("",
           "mywindow","status=1,width=350,height=150");

          my_window.document.write('<h1>The Popup Window</h1>');
        }

        function closepopup()
        {
          window.close();   
        }
        function openlink()
        {
          opener.location='/estacionamientos/{{ id }}/reserva';
        }
    </script> 


   </head>

    <!-- Header -->
    <body {% if mensaje %} onunload="openlink()" {% endif %}>
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle">
            </span>
          </button>
          <div class="navbar-brand" href="#">
            SAGE
          </div>
        </div>
        <div class="navbar-collapse collapse">

        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

      <!-- upper section -->

        <!-- /span-3 -->
<div class="col-sm-10">
        
      <!-- column 2 --> 
       <h3><i class="fa fa-money"></i> Pago de Reserva</h3>  
            
       <hr>
      
     <div class="row">
            <!-- center left--> 
          <!--/col-->
         
            <!--center-right-->
          <!--/col-span-6-->
     
      <div class="col-md-4">
      {% if form %}
        <table class="table table-striped">
          <thead>


          <br>
              
          </thead>
          <tbody>
            <form  method="post" class="form form-vertical">
              {% csrf_token %}
                <div class="control-group">
                  <div class="controls">
                        <p>
                        	{{ form.nombre }}
                        	<span class='error' id='{{form.nombre.name}}_error' aria-live="polite"></span>
                        </p>
                        {{ form.nombre.errors }}
                        <p>
                            {{ form.apellido }}
                            <span class='error' id='{{form.apellido.name}}_error' aria-live="polite"></span>
                        </p>
                        {{ form.apellido.errors }}
                        <p>
                            <select  id="id_{{form.cedulaTipo.name}}" name="{{form.cedulaTipo.name}}" placeholder="{{form.cedulaTipo.label}}">
                                <option value='V'>V</option>
                                <option value="E">E</option>
                            </select>
                            {{ form.cedula }}
                            <span class='error' id='{{form.cedula.name}}_error' aria-live="polite"></span>
                            {{ form.cedula.errors }}
                        </p>
                        
                        <table width="300" border="0" cellspacing="0">
                            <tr>
                              <td><font size="32" color="blue"><i class="fa fa-cc-visa"> </i></font></td>
                              <td><font size="32" color="red"><i class="fa fa-cc-mastercard"> </i></font></td>
                              <td><font size="32" color="gray"><i class="fa fa-cc-amex"> </i></font></td>
                            </tr>
                        </table>
                        <table width="300" border="0" cellspacing="0" id="id_{{form.tarjetaTipo.name}}">
                            <tr>
                                {% for choice in form.tarjetaTipo %}
                                     <td> {{ choice }}    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        {{ form.tarjetaTipo.errors }}
                        <p>
                            {{ form.tarjeta }}
                        	<span class='error' id='{{form.tarjeta.name}}_error' aria-live="polite"></span>
                        </p>
                        	{{ form.tarjeta.errors }}
                  </div>
                </div> 

            <button type="submit" class="btn btn-primary">Realizar Pago</button>

              <input type="button" value="Volver" onclick="self.close()" class="btn btn-primary">
            </form>

            <script>
			
			   	var inputs = document.getElementsByTagName("input");
			    var inputs_len = inputs.length;
			    var addDirtyClass = function(evt) {
				  evt.srcElement.classList.toggle("dirty", true);
			    };
			    for (var i = 0; i < inputs_len; i++) {
			      var input = inputs[i];
			      input.addEventListener("focus", addDirtyClass);
			      input.addEventListener("invalid", addDirtyClass);
			      input.addEventListener("valid", addDirtyClass);
			    }
			
				function verifyPattern(input, error, error_message) {
					if (input.validity.valid) {
						error.innerHTML = ""; // Reset the content of the message
						error.className = "error"; // Reset the visual state of the message
					}
					else {
						if (input.validity.rangeUnderflow) {
							error.innerHTML = "El minimo valor de este campo debe ser " + input.getAttribute('min');
						}
						else if (input.validity.rangeOverflow) {
							error.innerHTML = "El maximo valor de este campo debe ser " + input.getAttribute('min');
						}
						else if (input.validity.tooLong) {
							error.innerHTML = "Este campo debe tener un maximo de " + input.getAttribute('maxlength') + "caracteres";
						}
						else {
							error.innerHTML = error_message;
						}
						error.className = "error active";
					}
				};
			
			
				{% for field in form %}
					var error_{{ field.name }} = document.getElementById('{{ field.name }}_error')
					var {{ field.name }} = document.getElementById('id_{{ field.name }}');
					{{ field.name }}.addEventListener('blur', function (event) {
						verifyPattern({{ field.name }}, error_{{ field.name }}, {{ field.name }}.getAttribute('message'));
					}, false);
					
					{{ field.name }}.addEventListener('focus', function (event) {
						error_{{ field.name}}.innerHTML = ""; // Reset the content of the message
						error_{{ field.name}}.className = "error"; // Reset the visual state of the message
					}, false);
					
				{% endfor %}
			
			</script>
        
            
          </tbody>
        </table>
        
      
      </div>

            
            <!--/panel-->
            
            <!--/panel-->
            

      </div>
      <!--/row-->
      <!--/upper section -->
      
      <!-- lower section -->
      
      
      <!--/row-->
      {% endif %}
      {% if pago %}
      <div class="row">
        <div class="col-md-7" style="color:{{color}}"> 
          {{mensaje}}
          <hr>              
        </div>

        <div class="col-md-4">
          <table class="table table-striped">
            <tbody>

              <tr><td><b><i class="fa fa-circle"></i> Número de Transacción:</b></td></tr>
              <tr><td>{{pago.id}}</td></tr>

              <tr><td><b><i class="fa fa-clock-o"></i> Fecha de Transacción:</b></td></tr>
              <tr><td>{{pago.fechaTransaccion}}</td></tr>

              <tr><td><b><i class="fa fa-clock-o"></i> Horario inicio de reserva:</b></td></tr>
              <tr><td>{{pago.reserva.inicioReserva}}</td></tr>

              <tr><td><b><i class="fa fa-clock-o"></i> Horario fin de reserva:</b></td></tr>
              <tr><td>{{pago.reserva.finalReserva}}</td></tr>

              <tr><td><b><i class="fa fa-user"></i> Cédula:</b></td></tr>
              <tr><td>{{pago.cedulaTipo}}-{{pago.cedula}}</td></tr>

              <tr><td><b><i class="fa fa-money"></i> Tarjeta de Crédito:</b></td></tr>
              <tr><td>{{pago.tarjetaTipo}} </td></tr>

              <tr><td><b><i class="fa fa-money"></i> Monto:</b></td></tr>
              <tr><td>{{pago.monto}} Bs.</td></tr>
             
            </tbody>
          </table>
        <div>
          <input type="button" value="Volver" onclick="javascript: closepopup();" class="btn btn-primary">
        </div>
      {% endif %}

    </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body></html>
