<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="glyphicon glyphicon-wrench pull-right"></i>
      <h4>
        Parametrizar
      </h4>
    </div>
  </div>
  <div class="panel-body">
    <form action="." method="post" class="form form-vertical">
      {% csrf_token %}
      {% for field in form %}
        <div class="control-group">
          <div class="controls">
            {{ field }}
            <span class='error' id='{{field.name}}_error' aria-live="polite">
              {{ field.errors }}
            </span>
            <p>
          </div>
        </div>
      {% endfor %}
      <div class="control-group">
        <label></label>
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Parametrizar Estacionamiento
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% include "validator.js.html" %}
<script type="text/javascript">
  esquema = document.getElementById('id_esquema');
  tarifa_motos = document.getElementById('id_tarifa_motos');
  tarifa_carros = document.getElementById('id_tarifa_carros');
  tarifa_camiones = document.getElementById('id_tarifa_camiones');
  tarifa_microbus = document.getElementById('id_tarifa_microbus');
  tarifa_autobus = document.getElementById('id_tarifa_autobus');
  tarifa_especiales = document.getElementById('id_tarifa_especiales');
  tarifa2_motos = document.getElementById('id_tarifa2_motos');
  tarifa2_carros = document.getElementById('id_tarifa2_carros');
  tarifa2_camiones = document.getElementById('id_tarifa2_camiones');
  tarifa2_microbus = document.getElementById('id_tarifa2_microbus');
  tarifa2_autobus = document.getElementById('id_tarifa2_autobus');
  tarifa2_especiales = document.getElementById('id_tarifa2_especiales');
  inicio  = document.getElementById('id_inicioTarifa2');
  fin     = document.getElementById('id_finTarifa2');
  tarifa2_motos.style.display='none';
  tarifa2_carros.style.display='none';
  tarifa2_camiones.style.display='none';
  tarifa2_microbus.style.display='none';
  tarifa2_autobus.style.display='none';
  tarifa2_especiales.style.display='none';
  inicio.style.display='none';
  fin.style.display='none';
  if (esquema) {
    esquema.onchange=function() {
      if (this.value == "TarifaHoraPico") {
        inicio.style.display='';
        inicio.placeholder = "Inicio horario pico";
        fin.style.display='';
        fin.placeholder = "Fin horario pico";
        tarifa2_motos.style.display = '';
        tarifa_motos.placeholder="Tarifa normal para Motos";
        tarifa2_motos.placeholder="Tarifa pico para Motos";
        tarifa2_carros.style.display = '';
        tarifa_carros.placeholder="Tarifa normal para Carros";
        tarifa2_carros.placeholder="Tarifa pico para Carros";
        tarifa2_camiones.style.display = '';
        tarifa_camiones.placeholder="Tarifa normal para Camiones";
        tarifa2_camiones.placeholder="Tarifa pico para Camiones";
        tarifa2_microbus.style.display = '';
        tarifa_microbus.placeholder="Tarifa normal para Microbuses";
        tarifa2_microbus.placeholder="Tarifa pico para Microbuses";
        tarifa2_autobus.style.display = '';
        tarifa_autobus.placeholder="Tarifa normal para Autobuses";
        tarifa2_autobus.placeholder="Tarifa pico para Autobuses";
        tarifa2_especiales.style.display = '';
        tarifa_especiales.placeholder="Tarifa normal para Vehículos Especiales";
        tarifa2_especiales.placeholder="Tarifa pico para Vehículos Especiales";
      } else if (this.value == "TarifaFinDeSemana") {
        inicio.style.display='none';
        inicio.value = "";
        fin.style.display='none';
        fin.value = "";
        tarifa_motos.placeholder="Tarifa normal para Motos";
        tarifa2_motos.style.display = '';
        tarifa2_motos.placeholder="Tarifa fin de semana para Motos";
        tarifa_carros.placeholder="Tarifa normal para Carros";
        tarifa2_carros.style.display = '';
        tarifa2_carros.placeholder="Tarifa fin de semana para Carros";
        tarifa_camiones.placeholder="Tarifa normal para Camiones";
        tarifa2_camiones.style.display = '';
        tarifa2_camiones.placeholder="Tarifa fin de semana para Camiones";
        tarifa_microbus.placeholder="Tarifa normal para Microbuses";
        tarifa2_microbus.style.display = '';
        tarifa2_microbus.placeholder="Tarifa fin de semana para Microbuses";
        tarifa_autobus.placeholder="Tarifa normal para Autobuses";
        tarifa2_autobus.style.display = '';
        tarifa2_autobus.placeholder="Tarifa fin de semana para Autobuses";
        tarifa_especiales.placeholder="Tarifa normal para Vehículos Especiales";
        tarifa2_especiales.style.display = '';
        tarifa2_especiales.placeholder="Tarifa fin de semana para Vehículos Especiales";
      } else {
        inicio.style.display='none';
        inicio.value = "";
        fin.style.display='none';
        fin.value = "";
        tarifa_motos.placeholder="Tarifa para Motos";
        tarifa2_motos.style.display='none';
        tarifa2_motos.value = "";
        tarifa_carros.placeholder="Tarifa para Carros";
        tarifa2_carros.style.display='none';
        tarifa2_carros.value = "";
        tarifa_camiones.placeholder="Tarifa para Camiones";
        tarifa2_camiones.style.display='none';
        tarifa2_camiones.value = "";
        tarifa_microbus.placeholder="Tarifa para Microbuses";
        tarifa2_microbus.style.display='none';
        tarifa2_microbus.value = "";
        tarifa_autobus.placeholder="Tarifa para Autobuses";
        tarifa2_autobus.style.display='none';
        tarifa2_autobus.value = "";
        tarifa_especiales.placeholder="Tarifa para Vehículos Especiales";
        tarifa2_especiales.style.display='none';
        tarifa2_especiales.value = "";
      }
    }
  }
</script>
