<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="glyphicon glyphicon-wrench pull-right"></i>
      <h4>
        Parametrizar
      </h4>
    </div>
  </div>
  <div class="panel-body">
    <form action="." method="post" class="form form-vertical">
      {% csrf_token %}
      {% for field in form %}
        <div class="control-group">
          <div class="controls">
            {% if field.name == 'esquema' %}
              <div class="control-group">
                <b>Dias Regulares:</b>
	          </div>
	        {% elif field.name == 'esquema2' %}
	          <div class="control-group">
                <b>Dias Feriados:</b>
              </div>
              <a href="./feriados">
                Editar dias feriados
              </a>
            {% endif %}
            {{ field }}
            <span class='error' id='{{field.name}}_error' aria-live="polite">
               {{ field.errors }}
            </span>
            <p>
          </div>
        </div>
      {% endfor %}
      <div class="control-group">
        <label></label>
        <div class="controls">
          <button type="submit" class="btn btn-primary">
            Parametrizar Estacionamiento
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% include "validator.js.html" %}
<script type="text/javascript">
  esquema             = document.getElementById('id_esquema');
  esquema2            = document.getElementById('id_esquema2');
  tarifa_motos        = document.getElementById('id_tarifa_motos');
  tarifa_carros       = document.getElementById('id_tarifa_carros');
  tarifa_camiones     = document.getElementById('id_tarifa_camiones');
  tarifa_microbus     = document.getElementById('id_tarifa_microbus');
  tarifa_autobus      = document.getElementById('id_tarifa_autobus');
  tarifa_especiales   = document.getElementById('id_tarifa_especiales');
  tarifa2_motos       = document.getElementById('id_tarifa2_motos');
  tarifa2_carros      = document.getElementById('id_tarifa2_carros');
  tarifa2_camiones    = document.getElementById('id_tarifa2_camiones');
  tarifa2_microbus    = document.getElementById('id_tarifa2_microbus');
  tarifa2_autobus     = document.getElementById('id_tarifa2_autobus');
  tarifa2_especiales  = document.getElementById('id_tarifa2_especiales');
  tarifa3_motos       = document.getElementById('id_tarifa3_motos');
  tarifa3_carros      = document.getElementById('id_tarifa3_carros');
  tarifa3_camiones    = document.getElementById('id_tarifa3_camiones');
  tarifa3_microbus    = document.getElementById('id_tarifa3_microbus');
  tarifa3_autobus     = document.getElementById('id_tarifa3_autobus');
  tarifa3_especiales  = document.getElementById('id_tarifa3_especiales');
  tarifa4_motos       = document.getElementById('id_tarifa4_motos');
  tarifa4_carros      = document.getElementById('id_tarifa4_carros');
  tarifa4_camiones    = document.getElementById('id_tarifa4_camiones');
  tarifa4_microbus    = document.getElementById('id_tarifa4_microbus');
  tarifa4_autobus     = document.getElementById('id_tarifa4_autobus');
  tarifa4_especiales  = document.getElementById('id_tarifa4_especiales');
  inicio              = document.getElementById('id_inicioTarifa2');
  fin                 = document.getElementById('id_finTarifa2');
  inicioFeriado2      = document.getElementById('id_inicioTarifaFeriado2');
  finFeriado2         = document.getElementById('id_finTarifaFeriado2');
  tarifa2_motos.style.display     ='none';
  tarifa2_carros.style.display    ='none';
  tarifa2_camiones.style.display  ='none';
  tarifa2_microbus.style.display  ='none';
  tarifa2_autobus.style.display   ='none';
  tarifa2_especiales.style.display='none';
  tarifa3_motos.style.display     ='none';
  tarifa3_carros.style.display    ='none';
  tarifa3_camiones.style.display  ='none';
  tarifa3_microbus.style.display  ='none';
  tarifa3_autobus.style.display   ='none';
  tarifa3_especiales.style.display='none';
  tarifa4_motos.style.display     ='none';
  tarifa4_carros.style.display    ='none';
  tarifa4_camiones.style.display  ='none';
  tarifa4_microbus.style.display  ='none';
  tarifa4_autobus.style.display   ='none';
  tarifa4_especiales.style.display='none';
  inicio.style.display            ='none';
  fin.style.display               ='none';
  inicioFeriado2.style.display    ='none';
  finFeriado2.style.display       ='none';

  if (esquema) {
    esquema.onchange=function() {
      if (this.value == "TarifaHoraPico") {
        inicio.style.display  ='';
        inicio.placeholder    = "Inicio horario pico";
        fin.style.display     ='';
        fin.placeholder       = "Fin horario pico";
        tarifa2_motos.style.display       = '';
        tarifa_motos.placeholder          ="Tarifa normal para Motos";
        tarifa2_motos.placeholder         ="Tarifa pico para Motos";
        tarifa2_carros.style.display      = '';
        tarifa_carros.placeholder         ="Tarifa normal para Carros";
        tarifa2_carros.placeholder        ="Tarifa pico para Carros";
        tarifa2_camiones.style.display    = '';
        tarifa_camiones.placeholder       ="Tarifa normal para Camiones";
        tarifa2_camiones.placeholder      ="Tarifa pico para Camiones";
        tarifa2_microbus.style.display    = '';
        tarifa_microbus.placeholder       ="Tarifa normal para Microbuses";
        tarifa2_microbus.placeholder      ="Tarifa pico para Microbuses";
        tarifa2_autobus.style.display     = '';
        tarifa_autobus.placeholder        ="Tarifa normal para Autobuses";
        tarifa2_autobus.placeholder       ="Tarifa pico para Autobuses";
        tarifa2_especiales.style.display  = '';
        tarifa_especiales.placeholder     ="Tarifa normal para Vehículos Especiales";
        tarifa2_especiales.placeholder    ="Tarifa pico para Vehículos Especiales";
      } else if (this.value == "TarifaFinDeSemana") {
        inicio.style.display  ='none';
        inicio.value          = "";
        fin.style.display     ='none';
        fin.value             = "";
        tarifa_motos.placeholder          ="Tarifa normal para Motos";
        tarifa2_motos.style.display       = '';
        tarifa2_motos.placeholder         ="Tarifa fin de semana para Motos";
        tarifa_carros.placeholder         ="Tarifa normal para Carros";
        tarifa2_carros.style.display      = '';
        tarifa2_carros.placeholder        ="Tarifa fin de semana para Carros";
        tarifa_camiones.placeholder       ="Tarifa normal para Camiones";
        tarifa2_camiones.style.display    = '';
        tarifa2_camiones.placeholder      ="Tarifa fin de semana para Camiones";
        tarifa_microbus.placeholder       ="Tarifa normal para Microbuses";
        tarifa2_microbus.style.display    = '';
        tarifa2_microbus.placeholder      ="Tarifa fin de semana para Microbuses";
        tarifa_autobus.placeholder        ="Tarifa normal para Autobuses";
        tarifa2_autobus.style.display     = '';
        tarifa2_autobus.placeholder       ="Tarifa fin de semana para Autobuses";
        tarifa_especiales.placeholder     ="Tarifa normal para Vehículos Especiales";
        tarifa2_especiales.style.display  = '';
        tarifa2_especiales.placeholder    ="Tarifa fin de semana para Vehículos Especiales";
      } else {
        inicio.style.display  ='none';
        inicio.value          = "";
        fin.style.display     ='none';
        fin.value             = "";
        tarifa_motos.placeholder          ="Tarifa para Motos";
        tarifa2_motos.style.display       ='none';
        tarifa2_motos.value               = "";
        tarifa_carros.placeholder         ="Tarifa para Carros";
        tarifa2_carros.style.display      ='none';
        tarifa2_carros.value              = "";
        tarifa_camiones.placeholder       ="Tarifa para Camiones";
        tarifa2_camiones.style.display    ='none';
        tarifa2_camiones.value            = "";
        tarifa_microbus.placeholder       ="Tarifa para Microbuses";
        tarifa2_microbus.style.display    ='none';
        tarifa2_microbus.value            = "";
        tarifa_autobus.placeholder        ="Tarifa para Autobuses";
        tarifa2_autobus.style.display     ='none';
        tarifa2_autobus.value             = "";
        tarifa_especiales.placeholder     ="Tarifa para Vehículos Especiales";
        tarifa2_especiales.style.display  ='none';
        tarifa2_especiales.value          = "";
      }
    }
  }
  
  if (esquema2) {
    esquema2.onchange=function() {
      if (this.value == "TarifaHoraPico") {
        inicioFeriado2.style.display      ='';
        inicioFeriado2.placeholder        = "Inicio horario pico";
        finFeriado2.style.display         ='';
        finFeriado2.placeholder           = "Fin horario pico";
        tarifa3_motos.style.display       = '';
        tarifa4_motos.style.display       = '';
        tarifa3_motos.placeholder         ="Tarifa normal para Motos";
        tarifa4_motos.placeholder         ="Tarifa pico para Motos";
        tarifa3_carros.style.display      = '';
        tarifa4_carros.style.display      = '';
        tarifa3_carros.placeholder        ="Tarifa normal para Carros";
        tarifa4_carros.placeholder        ="Tarifa pico para Carros";
        tarifa3_camiones.style.display    = '';
        tarifa4_camiones.style.display    = '';
        tarifa3_camiones.placeholder      ="Tarifa normal para Camiones";
        tarifa4_camiones.placeholder      ="Tarifa pico para Camiones";
        tarifa3_microbus.style.display    = '';
        tarifa4_microbus.style.display    = '';
        tarifa3_microbus.placeholder      ="Tarifa normal para Microbuses";
        tarifa4_microbus.placeholder      ="Tarifa pico para Microbuses";
        tarifa3_autobus.style.display     = '';
        tarifa4_autobus.style.display     = '';
        tarifa3_autobus.placeholder       ="Tarifa normal para Autobuses";
        tarifa4_autobus.placeholder       ="Tarifa pico para Autobuses";
        tarifa3_especiales.style.display  = '';
        tarifa4_especiales.style.display  = '';
        tarifa3_especiales.placeholder    ="Tarifa normal para Vehículos Especiales";
        tarifa4_especiales.placeholder    ="Tarifa pico para Vehículos Especiales";
      } else if (this.value == "TarifaFinDeSemana") {
        inicioFeriado2.style.display      ='none';
        inicioFeriado2.value              = "";
        finFeriado2.style.display         ='none';
        finFeriado2.value                 = "";
        tarifa3_motos.style.display       = '';
        tarifa4_motos.style.display       = '';
        tarifa3_motos.placeholder         ="Tarifa normal para Motos";
        tarifa4_motos.placeholder         ="Tarifa fin de semana para Motos";
        tarifa3_carros.style.display      = '';
        tarifa4_carros.style.display      = '';
        tarifa3_carros.placeholder        ="Tarifa normal para Carros";
        tarifa4_carros.placeholder        ="Tarifa fin de semana para Carros";
        tarifa3_camiones.style.display    = '';
        tarifa4_camiones.style.display    = '';
        tarifa3_camiones.placeholder      ="Tarifa normal para Camiones";
        tarifa4_camiones.placeholder      ="Tarifa fin de semana para Camiones";
        tarifa3_microbus.style.display    = '';
        tarifa4_microbus.style.display    = '';
        tarifa3_microbus.placeholder      ="Tarifa normal para Microbuses";
        tarifa4_microbus.placeholder      ="Tarifa fin de semana para Microbuses";
        tarifa3_autobus.style.display     = '';
        tarifa4_autobus.style.display     = '';
        tarifa3_autobus.placeholder       ="Tarifa normal para Autobuses";
        tarifa4_autobus.placeholder       ="Tarifa fin de semana para Autobuses";
        tarifa3_especiales.style.display  = '';
        tarifa4_especiales.style.display  = '';
        tarifa3_especiales.placeholder    ="Tarifa normal para Vehículos Especiales";
        tarifa4_especiales.placeholder    ="Tarifa fin de semana para Vehículos Especiales";
      } else {
        inicioFeriado2.style.display      ='none';
        inicioFeriado2.value              = "";
        finFeriado2.style.display         ='none';
        finFeriado2.value                 = "";
        tarifa3_motos.style.display       = '';
        tarifa3_motos.placeholder          ="Tarifa para Motos";
        tarifa4_motos.style.display       ='none';
        tarifa4_motos.value               = "";
        tarifa3_carros.style.display      = '';
        tarifa3_carros.placeholder         ="Tarifa para Carros";
        tarifa4_carros.style.display      ='none';
        tarifa4_carros.value              = "";
        tarifa3_camiones.style.display    = '';
        tarifa3_camiones.placeholder       ="Tarifa para Camiones";
        tarifa4_camiones.style.display    ='none';
        tarifa4_camiones.value            = "";
        tarifa3_microbus.style.display    = '';
        tarifa3_microbus.placeholder       ="Tarifa para Microbuses";
        tarifa4_microbus.style.display    ='none';
        tarifa4_microbus.value            = "";
        tarifa3_autobus.style.display     = '';
        tarifa3_autobus.placeholder        ="Tarifa para Autobuses";
        tarifa4_autobus.style.display     ='none';
        tarifa4_autobus.value             = "";
        tarifa3_especiales.style.display  = '';
        tarifa3_especiales.placeholder     ="Tarifa para Vehículos Especiales";
        tarifa4_especiales.style.display  ='none';
        tarifa4_especiales.value          = "";
      }
    }
  }
</script>
