{% extends "base.html" %}

{% block title %}
  SAGE - Mensaje
{% endblock %}
{% block menu %}{% endblock %}
{% block innerContents%}
  <div class="col-sm-10">
    <h3><i class="fa fa-bus"></i>
      Estacionamientos
    </h3>
    <hr>
      <div class="col-md-8" style="color:{{color}}">
        {{mensaje}}
        <hr>
      </div>
      <input
        type="button"
        value="Volver"
        onclick="javascript: closepopup();"
        class="btn btn-primary"
      >
  </div>
{% endblock %}
{% block scripts %}
  {% include "validator.js.html" %}

  <script type="text/javascript">
   
    function closepopup(){
      window.close();
    }

  </script>
{% endblock %}
